body {
    color:darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.text-center {
    text-align: center;
}

#copyright {
    font-weight: bold;
    font-style: italic;
}

.audiowide-regular {
    font-family: 'Audiowide', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

h1 {
    font-family: 'Audiowide', sans-serif ;
    font-size: 30px;
}

h1 a,h1 a:visited {
    color: white;
}

h2 {
    font-size: 24px;
    background-color: lightskyblue;
    border-radius: 5px;
}

h1, h2, a, a:visited {
    color: darkblue;
}

h2 a,h2 a:visited {
    color: lightskyblue;
}

h1:hover a, h2:hover a {
    color: darkblue;
}

a, a:visited {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


.minhafoto {
    border-radius: 20%;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'); }

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style:normal;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 1.5rem;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

#social {
    text-align: center;
    font-size: 28px;
}

#social a {
    color: white;
    font-size: 2rem;
}

#social .fa-linkedin {
    color: navy;
}

#social .fa-square-instagram {
    color: #E1306C;
}

#social .fa-github {
    color: #24292e;
}